html {scroll-behavior: smooth;}
body {margin: 0; min-height: 100px;}
header {}

.header-section {width: 80%; margin: 0 auto;}

.header-section-top {border-bottom: Solid 1px blue; width: 100%;}
.header-section-bottom {background: darkblue; width: 100%;}
.header-nav {display: flex; flex-direction: row; justify-content: space-between;}

.flex-row {display: flex; flex-direction: row; justify-content: space-between;}

.primary-menu a {text-decoration: none; color: blue; padding: 10px 15px 10px 15px;}
.primary-menu a:hover {text-decoration: underline; color: darkblue;}

.nav-item {border: solid blue 1px;}
.nav-item a {padding: 10px 15px 10px 15px; color: white; text-decoration: none;}

.nav-item:not(:last-child) {border-right-width: 0;}
.nav-item:hover {background: blue;}
