html {scroll-behavior: smooth;}
body {min-height: 1000px;}

.page {margin: 0; text-decoration: none;}
.page__container {}
.page__panel {margin: 0 auto; width: 70%;}
.page__header {background: black; color: white; user-select: none; min-height: 550px;}
.page__content {}
.page__footer {}

.page__row {display: flex; flex-direction: row;}
.page__row_space_between {display: flex; flex-direction: row; justify-content: space-between;}
.page__column {display: flex; flex-direction: row; flex-direction: column;}

.logo {}
.logo__title {text-decoration: none; font-size: 2rem; margin: 0.5rem; color: white;}
.logo__title:hover {color: gray;}

.menu {text-decoration: none;}
.menu__item {}
.menu__button {}
.menu__button_flat_red {}

.header__slogan {font-size: 3rem; margin: 10rem 0 1rem 0;}
.header__description {font-size: 1.5rem; margin: 0 0 2rem 0;}
