html {}
body {}

.page {margin: 0;}
.page__container {}
.page__panel {margin: 0 auto; width: 70%;}
.page__header {}
.page__content {}
.page__footer {}
.page__row {display: flex; flex-direction: row;}
.page__row_space_between {display: flex; flex-direction: row; justify-content: space-between;}

.logo {}
.logo__title {}

.menu {}
.menu__item {}
.menu__button {}
.menu__button_flat_red {}
